html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
}
b,
body,
strong {
  font-size: medium;
}
body {
  margin: 0;
  color: #333;
  padding: 0;
  position: relative;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.42857143;
  overflow: visible !important;
  padding-right: 0 !important;
  font-weight: 400;
}
a {
  background-color: transparent;
  color: #a46707;
  text-decoration: none;
}
button {
  background-color: transparent;
  color: #a46707;
  text-decoration: none;
}
